*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --lightblue:#add8e657;
    --white:#fff;
    --green: rgb(55, 186, 134);
    --grey:lightgrey;
}

html{
    font-size: 62.5%;
    font-family: Helvetica,Arial, sans-serif;
}


header{
    height: 12vh;
    width: 100%;
    padding:30px;
    text-align: center;
    background-color:var(--green);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}


#installation,#branchandmerge,#shareandupdate{
    background-color: var(--white);
}

#stageandsnapshot,#inspectandcompare{
    background-color: var(--lightblue);
}


nav{
    display: flex;
    gap:10%;
    width:100%;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color:var(--white);
    font-size: 1.8rem;
}

h1{
    margin:20px 0 0 0;
}

h2{
    font-size: 12px;
}




h4{
    margin:20px 0 0 0;
}

.start-art{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightblue);
    height:10vh;
    margin-bottom: 20px;
}

.git-cmd{
    background-color: var(--grey);
    margin: 10px 0;
    min-width:30vw;
    text-align: center;
    padding:5px 0;
    border-radius: 15px;
}


.git-cmd:hover{
    background-color: var(--green)
    
}

.git-cmd:active{
background-color: red;}

.git-cmd p{
    margin:10px 0 20px 0;
}

section article{
    margin: 15px 0;
}


#copyInfo{
 position: fixed;
 top:45vh;
 right:39vw;
 visibility: hidden;
}

.animate{
    animation: copyText 2s;
}

h6{
    font-size: 100px;
}

@keyframes copyText {
    0%{
        visibility: visible;
    }
    100%{
        transform: translateY(-80px);
    }
}